@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
/*nullfile*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
body {
  font-family: 'Hubballi', cursive;
  color: #ffffff;
  font-size: 1.9rem;
  min-width: 260px;
  background-color: #1B2735;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.name {
  text-align: center;
  line-height: 32px;
  font-size: 1.8em;
  width: 100%;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 55px;
  padding: 0 28px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  width: 100%;
}

.contacts-title {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.6em;
}

.place-for-contacts {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
  border-bottom: #cfcfe6 1px solid;
  border-top: #cfcfe6 1px solid;
}

.contacts-list {
  font-size: 1.07em;
  width: 100%;
}

.contacts-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  color: #ffffffcc;
}

.contacts-list li:first-child {
  margin-top: 20px;
}

.contacts-list li:last-child {
  margin-bottom: 20px;
}

.contacts-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffffcc;
}

.contacts-list li a:hover {
  color: #ffffff;
}

.contacts-list li a:hover span {
  background-color: #fff;
}

.contacts-list li a:hover .tel-number {
  color: #fff;
}

.contacts-list li a:hover .tel-number span {
  background-color: #fff;
}

.contacts-list li a:active {
  color: #999797;
  text-decoration: underline;
}

.contacts-list li a:active span {
  background-color: #999797;
}

.contacts-list li a:active .tel-number {
  color: #999797;
  text-decoration: underline;
}

.contacts-list li a:active .tel-number span {
  background-color: #999797;
}

.contacts-list li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  background-color: #ffffffcc;
  border-radius: 100px;
}

.contacts-list li a span img {
  height: 33px;
  width: 33px;
}

.tel-number {
  font-size: 0.85em;
}

.tel-number:hover {
  color: #fff;
}

.tel-number:hover span {
  background-color: #fff;
}

.tel-number:active {
  color: #999797;
  text-decoration: underline;
}

.tel-number:active span {
  background-color: #999797;
}

.e-mail {
  font-size: 0.85em;
}

.qr-code {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.qr-code .place-for-qr-code {
  padding: 15px;
  background-color: #ece1e1;
  height: 160px;
  width: 160px;
}

.qr-code .place-for-qr-code img {
  max-height: 100%;
}

.footer {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 65px;
  padding-right: 8px;
}

@media (max-width: 850px) {
  body {
    font-size: 1.6rem;
  }
  .contacts-list li a span {
    height: 33px;
    width: 33px;
  }
  .contacts-list li a span img {
    height: 28px;
    width: 28px;
  }
  .footer {
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
  .contacts-list li a span {
    height: 30px;
    width: 30px;
  }
  .contacts-list li a span img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 400px) {
  .contacts-list li {
    padding-left: 5px;
  }
  .contacts-list li a span {
    margin-right: 7px;
  }
}
